<div class="account-drop-inner">
    <a href="" id="acc-settings">{% trans %}Settings{% endtrans %}</a>
    <div class="clear">&nbsp;</div>
    <div class="acc-line">&nbsp;</div>
    <a href="" id="acc-details">{% trans %}Personal details {% endtrans %}</a>
    <div class="clear">&nbsp;</div>
    <div class="acc-line">&nbsp;</div>
    <a href="" id="acc-project">{% trans %}Project details{% endtrans %}</a>
    <div class="clear">&nbsp;</div>
    <div class="acc-line">&nbsp;</div>
    <a href="" id="acc-inbox">{% trans %}Inbox{% endtrans %}</a>
    <div class="clear">&nbsp;</div>
    <div class="acc-line">&nbsp;</div>
    <a href="" id="acc-stats">{% trans %}Statistics{% endtrans %}</a>
</div>
